*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%)
}
html{
    font-size: 62.5%;
}
body{
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.images-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/pattern-bg.svg);
    background-size: 91% 99%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3rem;
}
.image-container{
    display: flex;
    justify-content: center;
    top: -0.8rem;
    margin-top: 3.5rem;
    width: 65vw;
    max-width: 54rem;
}
.image-person{
    width: 100%;
    box-shadow: 3px 13px 20px var(--DarkBlue);
}
.buttons-section{
    display: flex;
    background-color: white;
    position: relative;
    top: -1.3rem;
    min-width: 10rem;
    min-height: 4rem;
    border-radius: 2.5rem;
    box-shadow: 3px 13px 20px var(--DarkBlue);
}
.button-share{
    max-width: 1.2rem;
    max-height: 1.8rem;
    margin: 0 2rem
}
.quote-section{
    background-image: url('../images/pattern-quotes.svg');
    background-size: 5rem;
    background-position-x: center;
    background-repeat: no-repeat;
    font-size: 1.9rem;
    padding-top: 1em;
    margin: 3.5rem;
    text-align: center;
}
.quote-section > p{
    padding-top: 3.6rem;
}
.quote-autor{
    margin-top: 2.5rem;
}
.quote-autor__name, .quote-autor__career{
font-size: 1.5rem;
}
.pattern-curve-container{
    width: 100%;
    min-height: 100px;
    background-size: contain;
    background-position: center;
    background-position-x: 0px;
    background-position-y: 15px;
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
}